<div class="h-5/6 flex justify-center items-center flex-col">
    <div class="flex justify-center items-center flex-col">
        <h1 id="main_title" class="text-center my-5 text-2xl font-bold">
            Tic-Tac-Toe
        </h1>
        <div class="w-full">
            <div
                v-for="(row, rowIndex) in boxes"
                :key="rowIndex"
                class="flex justify-center items-center"
            >
                <div
                    v-for="(cell, colIndex) in row"
                    :key="colIndex"
                    class="bg-white w-24 h-24 m-2 flex justify-center items-center text-6xl font-bold"
                    @click="makeMove(rowIndex, colIndex)"
                >
                    {{ cell }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center flex-col">
        <div>
            <div class="flex my-5">
                <div id="main_title" class="pt-2 mr-2 font-bold">
                    AI 난이도 
                </div>
                <div class="">
                    <div class="bg-gray-200 rounded-lg">
                        <div class="inline-flex rounded-lg">
                          <input type="radio" id="easy" :value="1" v-model="selectComputerDiffcultOption" hidden/>
                          <label for="easy" class="radio text-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">쉬움</label>
                        </div>
                        <div class="inline-flex rounded-lg">
                          <input type="radio" id="normal" :value="2" v-model="selectComputerDiffcultOption" hidden/>
                          <label for="normal" class="radio text-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">보통</label>
                        </div>
                        <div class="inline-flex rounded-lg">
                            <input type="radio" id="hard" :value="3" v-model="selectComputerDiffcultOption" hidden/>
                            <label for="hard" class="radio text-center self-center py-2 px-4 rounded-lg cursor-pointer hover:opacity-75">어려움</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <GameEventBtn
                v-if="gameStart"
                text="다시 시작"
                styledClassName="bg-red-700"
                :func="resetGame"
            />
            <GameEventBtn
                v-if="!gameStart"
                text="시작"
                styledClassName="bg-blue-600"
                :func="gameStartEvent"
            />
        </div>
    </div>
</div>
