<div id="last-users">
    <div class="flex justify-between">
        <h1 class="font-bold py-4 uppercase text-2xl">회원 목록</h1>
        <div class="flex justify-end">
            <div class="relative mt-1 mr-4"> 
                <button 
                   @click="onSearchCategoryClick"
                   type="button" 
                   class="relative w-40 h-11 cursor-default rounded-md bg-gray-900 pl-3 pr-10 text-left text-white shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" 
                   aria-haspopup="listbox" 
                   aria-expanded="true" 
                   aria-labelledby="listbox-label"
                >
                  <div class="flex items-center">
                    <div class="ml-3 block truncate">{{ condKey !== "" ? condKey : "검색 카테고리" }}</div>
                  </div>
                  <div class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </button>
            
                <ul 
                   v-if="showCond"
                   class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-gray-900 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" 
                   tabindex="-1" 
                   role="listbox" 
                   aria-labelledby="listbox-label" 
                   aria-activedescendant="listbox-option-3"
                >
                  <li 
                      v-for="(key, index) in Object.keys(condObj)"
                      @click="onSelectSearchCategory(key)"
                      class="text-white relative cursor-default select-none py-2 pl-3 pr-9" 
                      id="listbox-option-0" 
                      role="option"
                   >
                    <div class="flex items-center">
                      <span class="font-normal ml-3 block truncate">{{ key }}</span>
                    </div>
                  </li>
                </ul>
             </div>
             <div>
                <label for="topbar-search" class="sr-only">검색</label>
                <div class="mt-1 relative lg:w-64">
                   <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <svg 
                         class="w-5 h-5 text-gray-500 cursor-default" 
                         fill="currentColor" 
                         viewBox="0 0 20 20" 
                         xmlns="http://www.w3.org/2000/svg"
                      >
                         <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                      </svg>
                   </div>
                   <input 
                      type="text" 
                      id="topbar-search" 
                      class="bg-gray-800 border border-gray-900 text-white sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full pl-10 p-2.5" 
                      placeholder="검색"
                      v-model="keyWord"
                      @keyup.enter="onSearchKeyWord(keyWord)"
                   >
                </div>
             </div>
        </div>
    </div>
    
    <div class="overflow-x-scroll">
        <table class="w-full whitespace-nowrap">
            <thead class="bg-black/60">
                <th class="text-left py-3 px-3 rounded-l-lg">닉네임</th>
                <th class="text-left py-3 px-2">이메일</th>
                <th class="text-left py-3 px-2">권한</th>
                <th class="text-left py-3 px-2">소셜로그인</th>
                <th class="text-left py-3 px-2">생성일자</th>
                <th class="text-left py-3 px-2 rounded-r-lg">최근 수정일자</th>
            </thead>
            <tr v-for="(otherUser, index) in users" :key="index" class="border-b border-gray-700">
                <td class="py-3 px-2 font-bold">
                    <div class="inline-flex space-x-3 items-center">
                        <span>
                            <img class="rounded-full w-8 h-8" :src="otherUser.profileUrl !== null
                            ? otherUser.profileUrl
                            : require('@/assets/icons/default-user-profile.png')" alt="">
                        </span>
                        <router-link
                            :to="{
                                name: 'userInfo',
                                params: { userId: otherUser.userId },
                            }"
                        >
                            <span>{{otherUser.nickname}}</span>
                        </router-link>
                    </div>
                </td>
                <td class="py-3 px-2">{{otherUser.email}}</td>
                <td class="py-3 px-2">{{otherUser.authRole}}</td>
                <td class="py-3 px-2">{{otherUser.socialLoginType}}</td>
                <td class="py-3 px-2">{{this.$dayjs(otherUser.createdAt).format("YYYY-MM-DD HH:mm:ss")}}</td>
                <td class="py-3 px-2">{{ otherUser.lastModifiedAt ? this.$dayjs(otherUser.lastModifiedAt).format("YYYY-MM-DD HH:mm:ss") : "-" }}</td>
            </tr>
        </table>
    </div>
    <div class="mt-8 flex justify-end">
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <div 
            v-if="this.isFirst === false" 
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            @click="getPrevUserList"
          >
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          </div>
          <div 
            v-for="index in totalPage" 
            :class= "this.currentPage == index ?
            'relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white ring-1 ring-gray-300 focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-default' :
            'relative inline-flex items-center px-4 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-gray-800 focus:z-20 focus:outline-offset-0 cursor-default'"
            @click="getUserListBySelectedPage(index)"
            >
            {{ index }}
           </div>
          <div 
            v-if="this.isLast === false" 
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 cursor-default"
            @click="getNextUserList"
           >
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </div>
        </nav>
      </div>
</div>