<div class="bg-slate-500 h-screen">
    <div v-if="!user.isAuth" class="flex justify-end">
        <router-link to="/auth/login">
            <div
                class="cursor-default mt-4 mr-4 bg-orange-600 rounded-3xl w-24 h-10 flex justify-center items-center"
            >
                로그인
            </div>
        </router-link>
    </div>
    <div v-else-if="user.isAuth" class="flex items-end flex-col">
        <div class="flex -space-x-2 overflow-hidden justify-end">
            <img
                class="inline-block h-10 w-10 m-3 rounded-full ring-2 ring-white"
                referrerpolicy="no-referrer"
                :src="
                    user.profileUrl !== null
                        ? user.profileUrl
                        : require('@/assets/icons/default-user-profile.png')
                "
                @click="onClickToggle"
            />
        </div>
        <div
            v-if="clickToggle"
            class="w-48 mr-4 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
        >
            <div
                v-if="user.authRole === '관리자'"
                class="block px-4 py-2 text-sm text-gray-700 cursor-default"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
                @click="moveAdminPage"
            >
                관리자 페이지
            </div>
            <div
                class="block px-4 py-2 text-sm text-gray-700 cursor-default"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2"
                @click="logOut()"
            >
                로그아웃
            </div>
        </div>
    </div>
    <div class="h-4/6 flex justify-center items-center flex-col">
        <h1 id="main_title" class="text-center my-5 text-2xl font-bold">
            Tic-Tac-Toe
        </h1>
        <div class="w-full">
            <div
                v-for="(row, rowIndex) in boxes"
                :key="rowIndex"
                class="flex justify-center items-center"
            >
                <div
                    v-for="(cell, colIndex) in row"
                    :key="colIndex"
                    class="bg-white w-24 h-24 m-2 flex justify-center items-center text-6xl font-bold"
                    @click="makeMove(rowIndex, colIndex)"
                >
                    {{ cell }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <GameEventBtn
            v-if="gameStart"
            text="다시 시작"
            styledClassName="bg-red-700"
            :func="resetGame"
        />
        <GameEventBtn
            v-if="!gameStart"
            text="시작"
            styledClassName="bg-blue-600"
            :func="gameStartEvent"
        />
    </div>
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
</div>