<div>
    <div class="md:grid md:grid-cols-1 md:gap-6">
      <div class="mt-5 md:col-span-1 md:mt-0">
        <div class="mb-4 px-4 sm:px-0">
          <h3 class="font-bold py-4 uppercase text-2xl">
            회원 상세보기
          </h3>
        </div>

        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 px-4 py-5 sm:p-6">
            <div>
              <div class="mt-1 flex justify-center items-center">
                <span class="inline-block h-24 w-24 rounded-full">
                  <label
                    for="profileUrl"
                    class="relative cursor-pointer rounded-md h-12 w-12"
                  >

                    <img
                      referrerpolicy="no-referrer"
                      :src="user.profileUrl !== null ? user.profileUrl : require('@/assets/icons/default-user-profile.png')"
                      class="rounded-full"
                    />

                    <input
                        id="profileUrl"
                        type="file"
                        class="sr-only"
                        @change="onChangeProfileImage($event)"
                    />
                  </label>
                </span>
              </div>
            </div>

            <!-- 이메일 -->
            <UserInfoInputForm 
                inputType="이메일"
                label="이메일"
                :disabled="true"
                :value="user.email"
                @inputFormValue="valueChange"
            />

            <!-- 닉네임 -->
            <UserInfoInputForm 
                inputType="닉네임"
                label="닉네임"
                :disabled="false"
                :value="user.nickname"
                @inputFormValue="valueChange"
            />

            <!-- 전화번호 -->
            <UserInfoInputForm 
                inputType="전화번호"
                label="전화번호"
                :disabled="false"
                :value="user.tel"
                @inputFormValue="valueChange"
            />

            <!-- 소셜 로그인 -->
            <UserInfoInputForm 
                inputType="소셜 로그인"
                label="소셜 로그인"
                :disabled="true"
                :value="user.socialLoginType"
                @inputFormValue="valueChange"
            />

            <div class="col-span-6 sm:col-span-3">
              <label for="role" class="block text-sm font-medium text-gray-50"
                >권한</label
              >
              <div class="mt-4">
                <div class="flex justify-start">
                  <label
                    for="authRole"
                    class="block text-sm font-medium text-gray-50"
                  >
                    <input
                      id="authRole"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      v-model="user.authRole"
                      value="회원"
                    />
                    회원</label
                  >

                  <label
                    for="authRole"
                    class="ml-3 block text-sm font-medium text-gray-50"
                  >
                    <input
                      id="authRole"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      v-model="user.authRole"
                      value="관리자"
                    />
                    관리자</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="px-4 py-3 flex justify-center text-right sm:px-6">
            <UserInfoBtn btnText="회원 수정" addStyleClass="bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-indigo-500 mr-3" :cb="onUserEditing"/>

            <UserInfoBtn btnText="회원 삭제" addStyleClass="bg-red-500 hover:bg-red-700 focus:outline-none  focus:ring-red-900" :cb="onUserDeleting"/>
          </div>
        </div>
      </div>
    </div>
</div>